/* REGRAS CSS */
*, *::after, *::before{box-sizing: border-box;}

h2::after{ content: ":)";}



/* SELETOR TAG */
body {
    background-image: url(../imagens/noite.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* SELETOR INDETIFICADO ID (usar so uma vez) */
#contente {
    background-color:rgba(255, 255, 255, 0.400);
    margin: auto;
    width: 70%;
    padding: 15px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.600) 10px 10px 50px;

}

/* finalidade desta regra: torna as imagens flexiveis(responsiva) */
img{
     max-width: 100%;
    }

 h1{
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-transform: uppercase;
        border-bottom: solid 4px;
        font-size: 25px;

        
    }

 h2{
        color: darkblue;
        text-shadow: black 2px 2px 4px;
     
    }

/* .class */
.centralizar { text-align: center;}

.sombra-texto { text-shadow: black 2px 2px 4px;}

.canto-arredondado {border-radius: 10px;}

.destaque {background-color: rgba(255, 0, 0, 0.400);
    border: solid 1px;
    padding: 5px;
}

nav a { 
    text-decoration: none;
    color: red;
    font-weight: bold;
    padding: 10px 5px;
    width: 33.33%;
    display: inline-block;
    text-align: center;
   

}


/* REGRA DE ACIONAMENTO DO LINK */

nav a:hover {
    color: blue;
    background-color: white;
}

figure img{ 
    filter: grayscale(100);
    transition: 2s;
}

figure img:hover{
    filter: grayscale(0);
}
